body {
  background-color: #f7f7f8;
  margin: 0;
  font-family: "Roobert", "Inter", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

/* Style the navbar */
.topnav {
  overflow: hidden;
  background-color: white;
  border: 1px solid #e3e3e3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
}

.topnav-left {
  width: 22%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.topnav-right {
  width: 16%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.topnav-center {
  width: 30%;
  display: inline-block;
}

.topnav-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topnav-search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Navbar links */
.topnav .topnav-left a {
  color: rgba(0, 0, 0, 0.829);
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.topnav .topnav-right .right-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Navbar links on mouse-over */
.topnav a:hover {
  color: #772ce8;
}

/* Style the input field inside the navbar (searchbar)*/
.topnav input[type="text"] {
  padding-left: 10px;
  align-items: center;
  font-size: 17px;
  border: none;
  background-color: #efeff1;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 38px;
  width: 70%; /* adjust as needed (as long as it doesn't break the topnav) */
}

.topnav .fas .fa-search {
  background-color: #c3c3c3;
  border-bottom-right-radius: 5px;
  color: #c3c3c3;
  cursor: pointer;
}

.topnav input[type="text"]:hover {
  border: 2px solid rgba(187, 187, 187, 0.918);
}

.topnav input[type="text"]:focus {
  border: 2px solid #804cc9;
  outline: none;
}

/* Style the button inside the input container */
.topnav button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px;
  background: #efeff1;
  color: #0e0e10;
  font-size: 13px;
  font-weight: inherit;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.topnav .login-container button:hover {
  background: #ccc;
}

.icon {
  display: none;
}

.topnav-item:hover {
  fill: #772ce8;
  cursor: pointer;
}

.fa-twitch {
  color: #772ce8;
}

#dots {
  border-radius: 5px;
  padding: 2px;
}

#dots:hover {
  background-color: #ccc;
  cursor: pointer;
}
#user-icon {
  border-radius: 5px;
  padding: 2px;
}

#user-icon:hover {
  background-color: #ccc;
  cursor: pointer;
}

#crown-icon {
  border-radius: 5px;
  padding: 2px;
}

#crown-icon:hover {
  background-color: #ccc;
  cursor: pointer;
}

#register-button {
  background-color: #7e2ff5;
  color: white;
  border-radius: 5px;
}

#register-button:hover {
  background-color: #5c16c5;
}

.vertical-line {
  border-right: 1.5px solid #79728356;
  height: 30px;
}

#search-icon {
  fill: #79728356;
  cursor: not-allowed;
  padding: 9px;
  background-color: #f7f7f8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media screen and (max-width: 1400px) {
  .topnav .topnav-left a {
    font-size: 15px;
  }

 

}

@media screen and (max-width: 1155px) {
  .topnav-left {
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .topnav-right {
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }



  
  /**********BODY-LEFT**************/

  .left-container .channel-names{
    display: none;
  }

  .left-container .box{
    display: none;
  }

  .left-container .gizle{
    display: none;
  }
   
  .left-container .camera-icon{
    display: block;
  }

  .left-container {
    background-color: #888;
    padding: 5px 5px 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /*top:0;
      position: fixed;  Set the navbar to fixed position */
  
  }

  
}

@media screen and (max-width: 800px) {
  .topnav-right {
    display: flex;
  }

  #crown-icon {
    display: inline-block;
  }

  .tab-name,
  #search {
    display: none;
  }

  .twitch,
  .icon,
  .s {
    display: inline-block;
  }

  .topnav-left {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .topnav-right {
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  #search-icon {
    background-color: white;
    fill: black;
    float: right;
  }

  
}

@media screen and (max-width: 515px) {
  .topnav-left {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .topnav-right {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

/**********************BODY-LEFT*********************************/
.main{
  display: flex;
  position: absolute;
  top: 52px;
  width: 100%;
  height: calc(100% - 53px);
}

.left-container {
  background-color: #efeff1;
  width: 16%;
  padding: 0px 10px 0px 10px;
  overflow-y: auto; /*scroll*/
}

.baslik {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.channel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3px 0 3px 0;
}

.channel:hover{
   background-color: #e6e6ea;
   cursor: pointer;
}

.channel-names{
display: flex;
justify-content: space-between;
align-items: center;
padding-left: 10px;
width: 100% !important;
}

.channel img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.channel .text p {
  font-size: 13px;
  line-height: 1px;
}

#head{
  font-size: 25px;
  font-weight: bold;
  color: #0e0e10;
}

#circle {
  width: 100px;
  height: 100px;
  background: red;
  border-radius: 50%;
}

#register{
  background-color: #9147ff;
  color: white;
  border-radius: 5px;
  padding: 8px;
  font-size: 12px;
  font-weight: inherit;
  border: none;
  cursor: pointer;
}

#register:hover{
  background-color: #772ce8 ;
}

.number span{
  font-size: 13px;
}

.box span{
  color: #7e2ff5;
}

.box{
  display: flex;
  flex-direction: column;
  align-items: flex-start;  
  padding: 15px;
  margin: 5px 5px 5px 5px;
  background-color: white;
  border-radius: 8px;
  border: 2px solid #e5e5e7e5;
}

.collapse-button:hover{
  padding:5px;
  border-radius: 5px;
  background-color: #c5c5ccec;
  cursor: pointer;
}

.camera-icon{
  display: none;
}

/******************BODY-MIDDLE*******************/

.middle-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 85%;
  padding: 20 20 20 20; 

  
}

.middle-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
}


.left-button:hover , .right-button:hover{
  padding:5px;
  border-radius: 5px;
  background-color:#d2d2d6;
  
}

.middle-container .profil-foto img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.middle-container .name p{
  color: #5c16c5;
  font-size: 13px;
  line-height: 2px;
}

.video-card{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width:59%;

  
}


.information{
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 5px;
  border: 1px solid rgba(235, 231, 231, 0.836);
  padding-left: 10px;

}

.name{
  padding: 5px;
}


.info{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
}



 .tag button{
  font-size: 13px;
  background-color: #ece8e8;
  padding:1px;
  border-radius: 8px;
  width: 60px;
  border: none;
  cursor: pointer;
}

.tag button:hover{
  background-color: #e0dbdb;
}

#yazi{
  font-size: 15px;
}

.middle-container .picture img{
  width: 300px;
  height: 150px;
}

.title{
  padding-top: 20px;
}

.bolme{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  

}

.video-row{
  display: flex;
  justify-content: space-between ;
  align-items: center;
  width: 100%;
}

.line{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.line .horizontal-line{
  padding-top: 30px;
  border-bottom:1px solid #5c16c5;
  width: 500px
}

#more{
  font-size: 12px;
  color:#5c16c5;
}

#more:hover{
  padding:5px;
  background-color: rgba(218, 214, 214, 0.795);
  border-radius: 5px;
  cursor: pointer;
}
