body {
  background-color: #f7f7f8;
  margin: 0;
  font-family: "Roobert", "Inter", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
    overflow: hidden;
}

/* Style the navbar */
.topnav {
  overflow: hidden;
  background-color: white;
  border-bottom: 2px solid #e3e3e3a9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  font-family: "Roobert", "Inter", "Helvetica Neue", Helvetica, Arial,
  sans-serif;
  z-index: 1000;
  position: fixed;

  
}

h5{
  margin:0;
  color: rgba(0, 0, 0, 0.705);
}

.topnav-left {
  width: 21%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.topnav-right {
  width: 16%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.topnav-center {
  width: 30%;
  display: inline-block;
}

.topnav-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topnav-search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Navbar links */
.topnav .topnav-left a {
  color: rgba(0, 0, 0, 0.829);
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.topnav .topnav-right .right-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Navbar links on mouse-over */
.topnav a:hover {
  color: #772ce8;
}

/* Style the input field inside the navbar (searchbar)*/
.topnav input[type="text"] {
  padding-left: 10px;
  align-items: center;
  font-size: 15px;
  border: none;
  background-color: #efeff1;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 35px;
  width: 75%; /* adjust as needed (as long as it doesn't break the topnav) */
}

.topnav input[type="text"]:hover {
  border: 2px solid rgba(187, 187, 187, 0.918);
}

.topnav input[type="text"]:focus {
  border: 2px solid #804cc9;
  outline: none;
  background-color: white;
}

/* Style the button inside the input container */
.topnav button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px;
  background: #efeff1;
  color: #0e0e10c9;
  font-size: 13px;
  font-weight: inherit;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

.topnav .login-container button:hover {
  background: #ccc;
}

.icon {
  display: none;
}

.twitch-icon{
  fill: #9147ff;
  padding-right: 5px;
}

.ok{
  cursor: pointer;
}
.topnav-item:hover {
  fill: #772ce8;
  cursor: pointer;
}

.fa-twitch {
  color: #772ce8;
}

#dots {
  border-radius: 5px;
  padding: 2px;
}

#dots:hover {
  background-color: #ccc;
  cursor: pointer;
}
#user-icon {
  border-radius: 5px;
  padding: 2px;
}

#user-icon:hover {
  background-color: #ccc;
  cursor: pointer;
}

#crown-icon {
  border-radius: 5px;
  padding: 2px;
}

#crown-icon:hover {
  background-color: #ccc;
  cursor: pointer;
}

#register-button {
  background-color: #7e2ff5;
  color: white;
  border-radius: 5px;
  
}

#register-button:hover {
  background-color: #5c16c5;
}

#register-button:focus{
  outline: none;
}

#login-button:hover{
  background-color: #ccc;
}

#login-button:focus{
  outline: none;
}

.vertical-line {
  border-right: 1.5px solid #79728356;
  height: 30px;
}

#search-icon {
  fill: #79728356;
  cursor: not-allowed;
  padding: 9px;
  background-color: #f7f7f8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}



@media screen and (max-width: 1255px) {
  .topnav-left {
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .topnav-right {
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }



  
  /**********BODY-LEFT**************/

  .left-container .channel-names{
    display: none;
  }

  .left-container .box{
    display: none;
  }

  .left-container .gizle{
    display: none;
  }
   
  .left-container .camera-icon{
    display: block;
  }

  .left-container {
    background-color: #888;
    padding: 5px 5px 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  /*   top:0;
    position: fixed; Set the navbar to fixed position */
  
  }
  
}



@media screen and (max-width: 800px) {
  .topnav-right {
    display: flex;
  }

  #crown-icon {
    display: inline-block;
  }

  .tab-name,
  #search {
    display: none;
  }

  .twitch,
  .icon,
  .s {
    display: inline-block;
  }

  .topnav-left {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .topnav-right {
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  #search-icon {
    background-color: white;
    fill: black;
    float: right;
  }

  
}

@media screen and (max-width: 550px) {
  .topnav-left {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .topnav-right {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .information{
    display: none;
  }
}


/**********************BODY-LEFT*********************************/
.main{
  display: flex;
  position: absolute;
  top: 52px;
  width: 100%;
  height: calc(100% - 53px);
}

.left-container {
  background-color: #efeff1;
  width: 18%;
  padding: 0px 10px 0px 10px;
  
}

.baslik {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.channel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3px 0 3px 0;
}

.channel:hover{
   background-color: #e6e6ea;
   cursor: pointer;
}

.channel-names{
display: flex;
justify-content: space-between;
align-items: center;
padding-left: 10px;
width: 100% !important;
}

.channel img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.channel .text p {
  font-size: 14px;
  line-height: 1px;
}

#head{
  font-size: 25px;
  font-weight: bold;
  color: #0e0e10;
}

#circle {
  width: 100px;
  height: 100px;
  background: red;
  border-radius: 50%;
}

#register{
  background-color: #9147ff;
  color: white;
  border-radius: 5px;
  padding: 8px;
  font-size: 12px;
  font-weight: inherit;
  border: none;
  outline: none;
  cursor: pointer;
}

#register:hover{
  background-color: #772ce8 ;
}

.number span{
  font-size: 13px;
  display: inline;

}

.box span{
  color: #7e2ff5;
}

.box{
  display: flex;
  flex-direction: column;
  align-items: flex-start;  
  padding: 2 15 15 15;
  margin: 5 0 5 0;
  background-color: white;
  border-radius: 8px;
  border: 2px solid #e5e5e7e5;
}

.collapse-button:hover{
  padding:5px;
  border-radius: 5px;
  background-color: #c5c5ccec;
  cursor: pointer;
}

.camera-icon{
  display: none;
}

/******************BODY-MIDDLE*******************/

.middle-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 20 20 20 20; 
  background-color: whitesmoke;
  overflow: auto;

  
}

.middle-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


.left-button:hover , .right-button:hover{
  padding:5px;
  border-radius: 5px;
  background-color:#d2d2d6;
  
}

.middle-container .profil-foto2 img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.middle-container .profil-foto img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.middle-container .name p{
  color: black;
  font-size: 13px;
  line-height: 2px;
}

.video-card{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width:50%;

  
}

.video-card .foto{
  width: 500px;
  height: 250px;
}


.information{
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 5 5 5 15;
  border: 1px solid rgba(235, 231, 231, 0.836);
  width: 200px;
  height: 237px;

}


.name{
  padding: 5px;
}


.info{
  display: flex;
  justify-content: flex-start;
  align-items: center;

}


 .tag button{
  font-size: 13px;
  background-color: #ece8e8;
  padding:1px;
  border-radius: 8px;
  width: 60px;
  border: none;
  cursor: pointer;
  color: grey;
}

.tag button:hover{
  background-color: #e0dbdb;
}

#yazi{
  font-size: 14px;
}

.middle-container .picture img{
  width: 300px;
  height: 150px;
  box-sizing: border-box;
}

.middle-container .picture img:hover{
  border-left: 5px solid #5c16c5;
  border-bottom: 5px solid #5c16c5;
  border-radius: 5%;
}


.title{
  padding-top: 20px;
  width: 450px;
  font-size: 18px;
}

.bolme{
  display: flex;
  justify-content: stretch;
  align-items: center;
  

}

.video-row{
  display: flex;
  justify-content: space-between ;
  align-items: center;
  width: 100%;
}

.line{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 30px;

}

.line .horizontal-line{
  border-bottom:1px solid #ccc;
  width: 550px;
}

.more{
  font-size: 12px;
  color:#5c16c5;
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.more:hover{
  padding: 0 8 0 8;
  background-color: rgba(218, 214, 214, 0.795);
  border-radius: 5px;
  cursor: pointer;
}

.gizli-alan{
  display: none;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.simge{
  fill: #5c16c5;
}


.poster-card{
  display: flex;
  flex-direction: column;
  line-height: 1px;
}

.baslik p{
  font-size: 15px;
}

.izleyici-sayisi p{
  font-size: 14px;
  color: grey;
}

.poster-card{
  width: 100%;
  height: 100%;
}
.poster img{
  width: 140px;
  height: 190px;
  box-sizing: border-box;

  
}



.poster img:hover{
  border-left: 5px solid #5c16c5;
  border-bottom: 5px solid #5c16c5;
  border-radius: 5%;
}

.kategoriler{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#ktg{
   color: #5c16c5;
  }
  
#ktg:hover{
  text-decoration: underline;
  cursor: pointer;

} 

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* The Modal (background) */
.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 25%;
  border-radius: 5px;

}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-content .modal-header{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}



.modal-body{
  display: flex;
  flex-direction: column;
}

.btn{
  display: flex;

}

.modal-content p:focus{
  color: #772ce8;
}


.modal-body label{
  font-size: 13px;
  font-weight: bold;
}

.modal-body input{
  padding-left: 10px;
  align-items: center;
  font-size: 17px;
  border: none;
  background-color: #efeff1;
  border-radius: 5px;
  height: 30px;
  margin: 5 0 25 0;
  width: 100%; /* adjust as needed (as long as it doesn't break the topnav) */
}

.modal-body input:hover {
  border: 2px solid rgba(187, 187, 187, 0.918);
}

.modal-body input:focus {
  border: 2px solid #804cc9;
  outline: none;
}

.input-container {
  position:relative;
}

.visible-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.gizli-icon{
  display: none;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 0.1px;
  color: rgb(165, 165, 165);
}

#bottom{
  font-size: 12px;
  text-align: center;
}

.mor{
  color: #5c16c5;
}

#kaydol {
  background-color: rgba(204, 204, 204, 0.151);
  color: rgba(175, 175, 175, 0.603);
  font-weight: bold;
  height: 26px;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: not-allowed;
}

.btn button{
  font-size: 14px;
  padding:5px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: white;
}

.btn button:focus{
 color: #5c16c5;
}

#otrm{
  font-size: 12px;
  color: #5c16c5;

}

#otrm-ac{
  background-color: rgba(204, 204, 204, 0.151);
  color: rgba(175, 175, 175, 0.603);
  font-weight: bold;
  height: 28px;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: not-allowed;
}


.veya-line{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 5px
}

.ve-line{
  border-bottom:1px solid #ccc;
  width: 160px;
}

#veya{
  font-size: 13px;
  color: rgba(0, 0, 0, 0.644);
}

#facebook{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44%;
  fill: white;
  background-color: #3b5998;
  border: none;
  outline: none;
  color: white;
  margin-left: 110px;
  padding: 0;
  font-weight: bold;
  
}

.settings{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: white;
  width: 160px;
  height: 100px;
  border-radius: 5px;
  padding: 15;
  position: absolute;
  right: 5px;
  top: -12px;
  border: 1px solid rgba(226, 223, 223, 0.637);
  display: none;
}


.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  width: 150px;
  height: 35px;
}


.ayri{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
}
.ayri p{
 padding-left: 5px;
}
.cizgi{
  border: 0.5px solid rgba(197, 195, 195, 0.473);
  width: 100%;
}

.kategoriler{
  color: #772ce8;
}

#soluk{
  color: rgba(128, 128, 128, 0.966) !important;
  font-size: 13px;
}

.bgc:hover{
  background-color: rgba(224, 217, 217, 0.562);
  cursor: pointer;
  border-radius: 5px;
  
}

.ayri:hover{
  cursor: pointer;
}

/********************TOOLTIP******************/

.tooltip {
  position: absolute;
  display: inline-block;
  border-bottom: 1px dotted black;
  right: -40px;
  z-index: 1000;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}


/************************************/

.tw-toggle {
  display: flex;
  flex-direction: column;
  line-height: 2rem;
  position: relative;
  
}

.tw-theme-toggle__input, .tw-toggle__input {
  opacity: 0;
  position: absolute;
}

/***çerçevesi ****/
.tw-toggle__button {
  background-color: #000;
  background-color: whitesmoke;
  border-radius: 0.7rem/50%;
  box-shadow: inset 0 0 0 .15rem rgba(0, 0, 0, 0.767),0 0 0 transparent;
  content: "";
  cursor: pointer;
  display: inline-block;
  height: 1.3rem;
  order: 0;
  position: relative;
  transition: whitesmoke .1s;
  vertical-align: bottom;
  width: 2.2rem;
  
}

.tw-hide-accessible {
  border: none;
  clip: rect(0 0 0 0);
  height: .1rem;
  margin: -.1rem;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: .1rem;
  
}

/** top kısmı **/
.tw-toggle__button:after {
  background-color: black;
  border-radius: 9000px;
  border-radius: pink;
  bottom: .5rem;
  content: "";
  display: block;
  height: 0.8rem;
  left: .28rem;
  position: absolute;
  top: .25rem;
  transition: left .1s;
  width: 0.8rem;
  
}


/**************************************************/

.dark-mode {
  background-color: black;
  color: white;
}

.asd{
  color: white;
}