body {
  background-color: #f7f7f8;
  margin: 0;
}

/* Style the navbar */
.topnav {
 /*  overflow: hidden;
  background-color: white;
  border: 1px solid #e3e3e3;
  font-weight: 550;
  display: flex;
  height: 50px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  
}

.topnav-left, .topnav-right{
  width: 40%;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.topnav-center{
  width: 40%;

}


/* Navbar links */
.topnav .topnav-left a
 {
  /* float: left; */
  align-items:center;
  justify-content: space-between;
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-family: "Roobert", "Inter", "Helvetica Neue", Helvetica, Arial,
    sans-serife;
}

.topnav .topnav-right {
  justify-content: space-between;
  align-items: center;
}

/* Navbar links on mouse-over */
.topnav a:hover {
  color: #772ce8;
}

/* Active/current link */
.topnav a.active {
  background-color: #2196f3;
  color: white;
}

/* Style the input container */
.topnav .login-container {
  float: right;
}

/* Style the input field inside the navbar (searchbar)*/
.topnav input[type="text"] {
  align-items: center;
  font-size: 17px;
  border: none;
  background-color: #efeff1;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 2rem;
  width: 80%; /* adjust as needed (as long as it doesn't break the topnav) */
}

.topnav .fas .fa-search {
  background-color: #c3c3c3;
  border-bottom-right-radius: 5px;
  color: #c3c3c3;
  cursor: pointer;
}

.topnav input[type="text"]:hover {
  border: 1px solid rgba(187, 187, 187, 0.918);
}

.topnav input[type="text"]:focus {
  border: 1px solid #797283;
}

/* Style the button inside the input container */
.topnav .login-container button {
  align-items: center;
  float: right;
  padding: 7px;
  background: #efeff1;
  color: #0e0e10;
  font-size: 13px;
  font-weight: inherit;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.topnav .login-container button:hover {
  background: #ccc;
}

.icon {
  display: none;
}


.fa-twitch {
  color: #772ce8;
}

.topnav .topnav-right #user-icon {
  float: right;
  border-radius: 5px;
  display: none;
  /*padding: 2px;
  margin-top: 10px;
  margin-right: 10px;*/
}

#user-icon:hover {
  background-color: #ccc;
  cursor: pointer;
}

#crown-icon {
  display: none;
  float: right;
  border-radius: 5px;
  margin-top: 50px;
  /*padding: 2px;
  margin-top: 10px;
  margin-right: 10px;*/
}

#crown-icon:hover {
  background-color: #ccc;
  cursor: pointer;
}

#register-button {
  background-color: #7e2ff5;
  color: white;
  border-radius: 5px;
}

#register-button:hover {
  background-color: #5c16c5;
}

#gozat {
  border-right: 2px solid #e3e3e3;
}

#dots {
  float: left;
  color: black;
  text-align: center;
  font-size: 18px;
  font-family: "Roobert", "Inter", "Helvetica Neue", Helvetica, Arial,
    sans-serife;
}


.navigation-link__left-border {
  background-color: rgba(0, 0, 0, 0.1);
  height: 4%;
  width: 1px;
}

@media screen and (max-width: 600px) {

  .topnav .login-container {
    float: none;
  }
  .topnav a,
  .topnav input[type="text"],
  .topnav .login-container button {
    float: none;
    display: inline-block;
    text-align: left;
  
  }
  .topnav input[type="text"] {
    border: 1px solid #ccc;
  }

  .topnav-right
   {
    float: none;
    display: inline-block;
  }

  .tab-name, #search {
    display: none;
  }

  .twitch, .icon, .point, #search-icon {
    display: inline-block;
  }



}

